@import "tailwindcss";

:root {
  --color-dark-brown: #654321;
  --color-beige: #ede8d0;
  --color-off-white: #f2f0ef;
  --color-brown: #895129;
  --color-champagne: #f7e6ca;
  --color-maroon: #550000;
  --color-mocha: #6d3b07;
  --color-ecru: #e0cd95;      
  --color-jet-black: #252525;  
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-text-fill-color: #D6CFCA;
  -webkit-box-shadow: 0 0 0px 1000px #131313 inset;
  transition: background-color 5000s ease-in-out 0s;
}